.badges {
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;

    .badge-container {
        margin: auto;

        .badge {
            height: 75px;
            float: left;
        
            img { 
                height: 75px;
            }
        }
    }

    .github {
        margin: auto;
    }    
}

@include media( '>medium' ) {
    .badges {
        flex-direction: row;

        .github {
            margin-left: 0;
        }
    }
}

@include media( '<small' ) {
    .badges .badge-container .badge  {
        float: none;
        margin: auto;

        .github {
            margin-left: 0;
        }
    }
}