<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aegis Authenticator - Secure 2FA app for Android</title>
  <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:400,600,700|Frank+Ruhl+Libre:700" rel="stylesheet">
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link href="images/icon.png" rel="shortcut icon" type="image/x-icon" />
  <script src="js/scrollreveal.min.js"></script>
</head>
