:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.animate-spin-slow {
    animation: spin 5s linear infinite;
}